.contLogin {
    display: flex;
    flex-direction: row;
    font-family: sofia-pro, sans-serif;
  
}

.leftSide {
    width: 50%;
    text-align: left;
    padding: 100px;
}

.logo {
    width: 162px;
    height: 83px;
    margin-bottom: 30px;
}


.btnCont {
    display: flex;
    flex-direction: row;
}

.btn1, .btn2 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 253px;
    height: 52px;
    background-color: white;
    border: 3px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 18px;
    line-height: 28px;
    margin: 20px;
}

.footer {
    color:#999999;
    font-size: 16px;
    position: absolute;
    bottom: 5%;
    
}

.rightSide {
    background: linear-gradient(204.52deg, #7E62EF -7.35%, rgba(43, 235, 166, 0.62) 164.58%);
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    position: absolute;
    bottom: 100px;
}

h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 74px;
    text-align: center;
}

.rightSide p {
    font-size: 24px;
    line-height: 37px;
    text-align: center;
}